<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingyu.android.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.jingyu.android.middle.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jingyu.android.test.AppLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jingyu.android.test.AppMainActivity"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.jingyu.android.test.learn.TimerActivity" />
        <activity android:name="com.jingyu.android.test.learn.DestroyGCActivity" />

        <activity android:name="com.jingyu.android.test.learn.HandlerActivity" />
        <activity android:name="com.jingyu.android.test.learn.ContactsActivity" />
        <activity android:name="com.jingyu.android.test.learn.PermissionActivity" />
        <activity android:name="com.jingyu.android.test.utils.CacheCleanActivity" />
        <activity android:name="com.jingyu.android.test.utils.LogActivity" />
        <activity android:name="com.jingyu.android.test.utils.SPActivity" />
        <activity android:name="com.jingyu.android.test.utils.CloneActivity" />
        <activity android:name="com.jingyu.android.test.utils.HttpActivity" />
        <activity android:name="com.jingyu.android.test.utils.EncryptActivity" />
        <activity android:name="com.jingyu.android.test.utils.ExceptionActivity" />
        <activity android:name="com.jingyu.android.test.utils.CamareActivity" />
        <activity
            android:name="com.jingyu.android.test.utils.TaskActivity0"
            android:launchMode="singleTask" />
        <activity android:name="com.jingyu.android.test.utils.TaskActivity1" />
        <activity android:name="com.jingyu.android.test.utils.TaskActivity2" />
        <activity android:name="com.jingyu.android.test.utils.TaskActivity3" />
        <activity android:name="com.jingyu.android.test.utils.AdapterActivity" />

        <meta-data
            android:name="MULTI_CHANNEL"
            android:value="${MULTI_CHANNEL_VALUE}" />

        <activity android:name="com.jingyu.android.test.learn.fragmentlife.FragmentLifeActivity" />

        <receiver
            android:name="com.jingyu.android.test.learn.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.jingyu.android.test.learn.NotifyActivity" />
        <activity android:name="com.jingyu.android.test.utils.DirActivity" />
        <activity android:name="com.jingyu.android.test.utils.BitmapActivity" />
        <activity android:name="com.jingyu.android.test.learn.touch.MotionEventActivity" />
        <activity android:name=".utils.DownloadActivity" />
    </application>

</manifest>